*.yaml
# IDEA
.idea/
out/
output/
**/build/

**/gradle_build/
*.iml
**/*.iml
*.ipr
*.iws


# OSX
.DS_Store
.AppleDouble
.LSOverride

## Java
# either the 3rd party diff or IDEA:
*.java.orig

/src/main/resources/application.yml

# Package Files
**/build/libs/*.jar
*.war
*.ear

#Gradle
.gradle
*/.gradle

# Logging
*.log
*.log.gz
*.log-*.gz
logs/

/src/main/resources/application.yml